/**************** GENERALT ****************/

/* Normalisering af elementer => Stjerne-regel med m-0, p-0 og box-sizing */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

/**************** FONTS ****************/
@font-face {
    font-family: 'bento';
    src: url(fonts/Bento\ .ttf);
}


@font-face {
    font-family: 'Dosis-bold';
    src: url(fonts/Dosis-bold.ttf);
}

@font-face {
    font-family: 'Dosis-regular';
    src: url(fonts/Dosis-regular.ttf);
}

@font-face {
    font-family: 'Dosis-light';
    src: url(fonts/Dosis-light.ttf);
}

@font-face {
    font-family: 'Dosis-semibold';
    src: url(fonts/Dosis-SemiBold.ttf);
}


@font-face {
    font-family: 'Dosis-Extrabold';
    src: url(fonts/Dosis-ExtraBold.ttf);
}

@font-face {
    font-family: 'titweb-regular';
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'titweb-bolditalic';
    src: url(fonts/TitilliumWeb-BoldItalic.ttf);
}

@font-face {
    font-family: 'titweb-semibold';
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: 'titweb-bold';
    src: url(fonts/TitilliumWeb-Bold.ttf);
}


@font-face {
    font-family: 'titweb-light';
    src: url(fonts/TitilliumWeb-Light.ttf);
}


@font-face {
    font-family: 'titweb-italic';
    src: url(fonts/TitilliumWeb-Italic.ttf);
}


/****** FORSIDE *****/
.velkomstimg{
    display: flex;
    justify-content: center;
    
    background-image: url(billeder/dumplingskålen-Redigeret-1919x503.jpg);
    height: 500px;
    width: 100%;
}

.bestilbtn {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    height: 50px;
    width: 100px;
    background-color: #FAFAFA;
    border: solid #ff6c5c 2px;
    border-radius: 10px;
}

.bestilbtn a{
    text-decoration: none;
    color: #27406b;
    font-family: 'Dosis-bold';
    font-size: 14pt;
    margin-top: 12%;
}

.bestilbtn:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}


/****** SECTION:oplevelser *****/

.oplevelser h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
    margin-bottom: 20%;

    margin-left: 7%;
}


.oplevelser{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin-left: 4%;
    margin-top: 5%;
    padding-bottom: 4%;
}


/* Hvad refereres der til her? */
/* .karusel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
} */

.imgKarusel{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    margin-left: 10%;
    margin-top: 5%;

}



/****** PILE TIL BILLEDEKARUSELLEN *****/
#venstrepil{
    width: 5%;
    margin-left: -70%;
    margin-bottom: -15%;
}
#venstrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}

#højrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}
#højrepil{
    width: 5%;
    margin-right: -92%;
    margin-top: -13%;
    
}

/****** BILLEDER TIL FOTOKARRUSELLEN *****/

#førstefoto{
    margin-top: 10%;
    border-radius: 10%;
    width: 100%;
}

#midterfoto{
    padding-right: 10%;
    width: 100%;
}


#sidstefoto{
    height: 150%;
    margin-top: 17%;
    border-radius: 10%;
    width: 100%;
}

/****** PILE TIL BILLEDEKARRUSELLEN *****/
.oplevelser p {
    max-width: 60%;
    text-align: justify;
    justify-content: center;
    line-height: 200%;
    
    padding-top: 4%;
    padding-left: 10%;
    font-family: 'Dosis-regular';
}

/****** LINJE EFTER BILLEDEKARUSELLEN *****/

.forsideHR{
    color: #ff6c5c;
    background-color: #ff6c5c;
    border:#ff6c5c;
    
    width: 50%;
    height: 1px;
    margin-bottom: 5%;
    margin-left: 23%;

}

/****** Guide + Læs mere *****/
.guide {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.guide h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
    padding-bottom: 5%;
}

.læsMerebtn a{
    font-family: 'Dosis-bold';
    font-size: 14pt;
    text-decoration: none;
    color: #27406b;

    margin-top: 7%;
    margin-left: 2%;  
}

.læsMerebtn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin-top: 3%;

    margin-bottom: 20px;

    background-color: white;

    border-radius: 13px;
    border: solid 1px #F7685D;
}

.læsMerebtn:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}

/******* STEMNINGSBILLEDE + TEKST ********/
.omNippon {
    position: relative;
    text-align: center;
    margin-top: 5%;
    z-index: -1;  /* <-- ellers vil den være foran navbaren når man scroller ned */
}
.omNippon img {
    width: 100%;
}

.centeredFORSIDE{
    margin-bottom: 20%;
}

.omNippon p { 
    max-width: 45%;
    line-height: 40pt;
    text-align: center; 
    margin-top: -15%;
    margin-left: 27%; 

    font-size: 13pt;
    font-family: 'titweb-bolditalic';
    color: rgb(255, 255, 255);
    
}


/******* HVORFOR NIPPON + FOTOKOLLAGE ********/

.hvorfor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10%;
    width: 100%;
}


.hvorfor h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
}

.hvorforIndhold{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


.hvorfor img{
    width: 40%;
    padding: 7%;
}

.hvorforTekst{
    width: 50%;
    padding-right: 5%;
    margin-bottom: 10%;
    color: #27406b;
    
    font-family: 'titweb-regular';
}



.hvorforTekst h4{
    font-family: 'titweb-bold';
    font-size: 2.5vh;
    color: #45acA5;
}










/***** Retter ****/
.retterBaggrund {
    background-color: #27e20a;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
    padding-top: 7%;
    z-index: -2;
 }
 
 
 .småbtn {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 200px;
    z-index: 2;
 }
 
 
 .allergi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45acA5;
    
    border-radius: 2%;
    width: 80px;
    height: 80px;
 }
 
 
 .allergi img {
    width: 120%;
    margin-left: 70%;
    margin-top: -25%;
 }
 
 
 .protein {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45acA5;
    
    border-radius: 2%;
    width: 80px;
    height: 80px;
 }
 
 
 .protein img {
    width: 80%;
 }
 



 /*** BILLEDE KATALOG ***/
 .retterBaggrund h2,h3 {
    display: flex;
    justify-content: center;
    text-align: center;


    width: 100%;
    font-family: 'Dosis-regular';
    font-size: 6vh;
    color: #45acA5;

 }
 .retterBaggrund h3{
    padding-bottom: 7%;
    font-size: 3vh;

 }

 .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    flex-wrap: wrap;
    top: 50px;
 }

 .cards img{
    border-radius: 10px;
 }

 .card {
    display: flex;
    flex-wrap: wrap;
    background-color: #8EACCD;
 }
 
 .card p{
    font-family: 'titweb-semibold';
    color:#f8efe3;
 }

.korttekst{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    position: absolute;
    background-color:#45acA5;
    border-radius: 4px;
   
    width: 10.56%;
    height: 45px;
    margin-top: 13.5%;
    padding-left: 0.5%;
}


.korttekst button, .korttekst p{
    display: flex;
    background-color: transparent;
    border: none;}

.korttekst button img{
    width: 8%;
    margin-top: -11%;
    margin-left: 90%;
    position: relative;}




/* RETTER - Styling af "Planlæg din måltidskasse" */
 .planlægbtn {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    border: solid 1px #ff6c5c;
    border-radius: 15px;
    background-color: #27406b;
    
 }
 
 .planlægbtn a{
    text-decoration: none;
    padding-top: 4.5%;
    color: #fef8ea;
    font-family: 'Dosis-bold';
    font-size: 2vh;

 }










/***** BETALING ******/
.bestiling table {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: #068FFF;
}

.bestiling th {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.prisbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8EACCD;
    max-width: 600px;
}

.prisimg {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff6c5c;
    height: 50px;
    width: 90%;
}

.prisbox h2{
    display: flex;
    justify-content: center;
}

.betalingHR {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #068FFF;
    border: none;
    height: 2px;

}

.kortoplysninger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
 
.betalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Altbetalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}

/****** KVITTERING ******/


.kvitteringMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-items: center;
    border: solid black 3px;
    margin-top: 30px;
    margin-bottom: 30px;
 
 
 
 
    background-color: #7895CB;
 }
 
 
 .kvitteringMain p {
    text-align: center;
 }
 
 
 .kvitteringimg {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 70%;
    background-color: #ff6c5c;
 }

 
 .forsidebtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid red 2px;
    border-radius: 12px;
    width: 200px;
 }


/***** 404 ****/
.fejlSide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 100px;
}
  
  .fejlSide h1 {
    font-family:'bento';
    font-weight: 100;
    font-size: 96px;
  }
  
  .fejlSide img {
    width: 350px;
    margin-top: 50px;
  }
  
  .fejlSide h4 {
    font-family: 'titweb-regular';
    font-size: 24px;
    margin-top: 50px;
  }
  
  .fejlSide  a{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Dosis-semibold';

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    width: 260px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    color: var(--Lys-beige, #FEFAEE);
    border: 2px solid var(--rd-orange, #ff6c5c);
    background: var(--mrkebl-dyb-kongebl, #27406b);
    text-decoration: none;

    margin-top: 50px;
  }