/***** FONTS ******/

@font-face {
    font-family: 'Dosis-bold';
    src: url(fonts/Dosis-Bold.ttf);
}

@font-face {
    font-family: 'Dosis-regular';
    src: url(fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'Dosis-light';
    src: url(fonts/Dosis-Light.ttf);
}

/****** NAV *******/
header {
    position: fixed;
    z-index: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /*Fra Hex til RGBA - Hilsen Jesper. :)*/
    background-color: rgba(39,64,107, 0.75);
    /* Padding/Margin og lign. laves som px, for at bibeholde element-størrelser */
    padding: 32px;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #FEFAEE;
    font-family: 'Dosis-bold';
    font-size: 12pt;
}

.navTekst {
    display: flex;
    justify-content: space-around;
    width: 73.5%;
}

/* Har kommenteret det her ud, fordi der ikke er noget der hedder "navLink" i HTML'en */
/* .navLink {
    position: absolute;
    z-index: 2;
} */


.navLinks:hover{
    text-decoration: underline #45aCA5 3px;
}


/* Flytter dumpling bagved tekst */
.loginLogo {
    position: absolute;
}

.loginLogo img {
    width: 100%;
}

.loginText {
    position:absolute;
    z-index: 2;
    color: black;
}

.loginClass {
    width: 50px;
    margin-left: 10%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* FY!! */
#loginTekst { }
 /* PUHA! */


/* :grimacing: */
#udvalgNav {
    margin-right: 10%;
    margin-left: 25%;
}

#udvalgNav:hover{
    text-decoration: underline #45aCA5 3px;
}

.logo{
    position: absolute;
    z-index: 10;
    margin-left: 14%;
    margin-top: 15px;
}

.loginClass:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.4);
    transition: 2s;
}


/****** FOOTER *****/
footer{
    display: flex;
    justify-content: space-around;
    height: 250px;
    background-color: #19376D;
}


footer div {
    padding-top: 3%;
}
footer h5 {
    color: #45aCA5;
    font-family: 'Dosis-semibold';
    font-size: 2vh;
}

footer h5:hover{
    cursor: pointer;
    text-decoration: underline #ff6c5c 2px;
}


footer a {
    text-decoration: none;
    color: #FAFAFA;
    font-family: 'titweb-regular';
    font-size: 1.5vh;
    line-height: 20pt;
}

footer a:hover{
    cursor: pointer;
}



.række1{
    margin-left: -10%;
}

.række2{
    margin-left: -7%;
}


.række3{
    margin-left: -7%;
}