/**************** GENERALT ****************/

/* Normalisering af elementer => Stjerne-regel med m-0, p-0 og box-sizing */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

/**************** FONTS ****************/
@font-face {
    font-family: 'bento';
    src: url(fonts/Bento\ .ttf);
}


@font-face {
    font-family: 'Dosis-bold';
    src: url(fonts/Dosis-bold.ttf);
}

@font-face {
    font-family: 'Dosis-regular';
    src: url(fonts/Dosis-regular.ttf);
}

@font-face {
    font-family: 'Dosis-light';
    src: url(fonts/Dosis-light.ttf);
}

@font-face {
    font-family: 'Dosis-semibold';
    src: url(fonts/Dosis-SemiBold.ttf);
}


@font-face {
    font-family: 'Dosis-Extrabold';
    src: url(fonts/Dosis-ExtraBold.ttf);
}

@font-face {
    font-family: 'titweb-regular';
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'titweb-bolditalic';
    src: url(fonts/TitilliumWeb-BoldItalic.ttf);
}

@font-face {
    font-family: 'titweb-semibold';
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: 'titweb-bold';
    src: url(fonts/TitilliumWeb-Bold.ttf);
}


@font-face {
    font-family: 'titweb-light';
    src: url(fonts/TitilliumWeb-Light.ttf);
}


@font-face {
    font-family: 'titweb-italic';
    src: url(fonts/TitilliumWeb-Italic.ttf);
}


/****** FORSIDE *****/
.forsideMain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.velkomstimg{
    display: flex;
    justify-content: center;
    
    background-image: url(billeder/dumplingskålen-Redigeret-1919x503.jpg);
    height: 500px;
    width: 100%;
}

.bestilbtn {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    height: 50px;
    width: 100px;
    background-color: #FAFAFA;
    border: solid #ff6c5c 2px;
    border-radius: 10px;
}

.bestilbtn a{
    text-decoration: none;
    color: #27406b;
    font-family: 'Dosis-bold';
    font-size: 14pt;
    margin-top: 12%;
}

.bestilbtn:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}


/****** SECTION:oplevelser *****/

.oplevelser h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
    margin-bottom: 5%;
}


.oplevelser{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin-top: 4%;
    padding-bottom: 4%;
}

/****** PILE TIL BILLEDEKARUSELLEN *****/
 .kundeKarrusel{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
}

#venstrepil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

#venstrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1);
    transition: 1s;
}

#højrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1);
    transition: 1s;
}
#højrepil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}  

/****** BILLEDER TIL FOTOKARRUSELLEN *****/
.imgKarusel{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;

    height: 425px;
    width: 20%;
    padding: 20px;
}

#førstefoto{
    border-radius: 10%;
    width: 100%;
}

#midterfoto{
    border-radius: 10%;
    width: 100%;
}
#midterfoto:focus {
    transform: scale(1.2); /* Juster værdien efter behov for at ændre størrelsen */
}


#sidstefoto{
    border-radius: 10%;
    width: 100%;
}

/****** PILE TIL BILLEDEKARRUSELLEN *****/
.oplevelser p {
    max-width: 60%;
    line-height: 200%;
    font-family: 'Dosis-regular';
}

/****** LINJE EFTER BILLEDEKARUSELLEN *****/

.forsideHR{
    color: #ff6c5c;
    background-color: #ff6c5c;
    border:#ff6c5c;
    
    width: 50%;
    height: 1px;
    margin-bottom: 5%;
}

/****** Guide + Læs mere *****/
.guide {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.guide h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
    padding-bottom: 1%;
}

.læsMerebtn a{
    font-family: 'Dosis-bold';
    font-size: 14pt;
    text-decoration: none;
    color: #27406b;

    margin-top: 7%;
    margin-left: 2%;  
}

.læsMerebtn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin-top: 3%;

    margin-bottom: 20px;

    background-color: white;

    border-radius: 13px;
    border: solid 1px #F7685D;
}

.læsMerebtn:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}

/******* STEMNINGSBILLEDE + TEKST ********/
.omNippon {
    position: relative; 
    text-align: center;
    margin-top: 5%;
    z-index: -1;  /* <-- ellers vil den være foran navbaren når man scroller ned */
    background-image: url(billeder/stemningsbilledeforside.png);
    height: 300px;
    padding-top: 3%;

}
.omNippon img {
    width: 100%;
}

.centeredFORSIDE{
    margin-bottom: 20%;
}


.omNippon p { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 45%;
    line-height: 40pt;
    text-align: center; 
    margin-left: 27%; 

    font-size: 13pt;
    font-family: 'titweb-bolditalic';
    color: rgb(255, 255, 255);
    
}


/******* HVORFOR NIPPON + FOTOKOLLAGE ********/

.hvorfor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}


.hvorfor h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
}

.hvorforIndhold{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


.hvorfor img{
    width: 40%;
    padding: 7%;
}

.hvorforTekst{
    width: 50%;
    padding-right: 5%;
    margin-bottom: 10%;
    color: #27406b;
    
    font-family: 'titweb-regular';
}



.hvorforTekst h4{
    font-family: 'titweb-bold';
    font-size: 2.5vh;
    color: #45acA5;
}








/***** Retter ****/

.retterMain{
    display: flex;
    justify-content: center;
}

.retterBaggrund {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #fcf3e3;
    width: 72%;
    /* margin-left: 150px;
    margin-right: 150px; */
    padding-bottom: 50px;
    padding-top: 7%;
    /* z-index: -2; */
 }
 
 .småbtn {
    position: absolute;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 200px;
    right: 0;

    opacity: 0.5;

 }
 
 .allergi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45acA5;

    border-radius: 10px 0 0 10px;

    
    width: 80px;
    height: 80px;
 }
 
 .allergi img {
    width: 100%;
    padding-left: 20%;
    margin-top: 7%;
 }
 
 .protein {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45acA5;
    
    border-radius: 10px 0 0 10px;


    width: 80px;
    height: 80px;
 }
 
 .protein img {
    width: 80%;
 }
 

 /*** BILLEDE KATALOG ***/
 
 /* Placering og styling af tilbage-knappen */

 .tilbageKnap{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   
   
   gap: 5px;
   width: 70%;
   padding-top:1%;
   padding-bottom: 1%;
   
   font-family: 'titweb-regular';
   font-size: 1.5vh;
   color: #27406b;
 }


 .tilbageKnap a{
    text-decoration: none;

 }
 .tilbageKnap img{
    display: flex;
    justify-content: center;
    width: 20px;
    
 } 
 
 #tidslinje2{
    width: 350px;
    padding-bottom: 4%;
 }
 
 
 .retterBaggrund h2,h3 {
    display: flex;
    justify-content: center;
    text-align: center;


    width: 100%;
    font-family: 'Dosis-regular';
    font-size: 6vh;
    color: #45acA5;
 }
 .retterBaggrund h3{
    padding-bottom: 7%;
    font-size: 3vh;
 }

 .cards {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    
    margin-bottom: 50px;
    flex-wrap: wrap;
    top: 50px;
 }

 .cards img{
    border-radius: 10px;

 }

 .card {
    display: flex;
    flex-wrap: wrap;
 }
 
 .card p{
    font-family: 'titweb-semibold';
    color:#f8efe3;
 }

.korttekst{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    background-color: #45acA5;
    
    border-radius: 0px 0px 10px 10px;
    
    width: 200px;
    height: 50px;
    padding-left: 0.5%;
    margin-top: 250px;
    justify-content: center;
}


.korttekst button, .korttekst p{
    display: flex;
    background-color: transparent;
    border: none;}

.korttekst button img{
    width: 8%;
    margin-top: -11%;
    margin-left: 90%;
    position: relative;}




/* RETTER - Styling af "Planlæg din måltidskasse" */
 .planlægbtn {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    border: solid 1px #ff6c5c;
    border-radius: 15px;
    background-color: #27406b;
    
 }
 
 .planlægbtn a{
    padding-top: 4%;
    
    text-decoration: none;
    color: #fef8ea;
    font-family: 'Dosis-bold';
    font-size: 2vh;

 }

 .oversigtMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 84px;
    font-family: 'Dosis-regular';
}

.oversigtMain h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 15pt;
    font-family: 'Dosis-bold';
}

.oversigtMain hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 2px;
    width: 80%;
    background-color: #45acA5;
    border: none;
}

.oversigtbox {
    width: 40%;
    background-color: #f2dcba;
    padding-top: 10px;
}

.personInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20pt;
    padding-bottom: 40px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    /** border: #F7685D solid 3px; **/
}
.personInfo h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dosis-bold';
}

.infotittle {
    font-style: italic;
    font-weight: 500;
}

.antal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 20pt;
    /** border: rgb(125, 78, 149) solid 3px; **/
}

.antal td {
    width: 90%;
    height: 40px;
}

.antal img {
    width: 20px;
}

.madpakker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 20pt;
    padding-bottom: 20px;
    /** border: rgb(125, 78, 149) solid 3px; **/
}

.madpakker td {
    width: 90%;
    height: 40px;
}

.prisoversigt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;


    /** border: #ff9d00 solid 3px; **/
}
.prisoversigt td {
    width: 90%;
    height: 40px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    background-color: #45acA5;
}
.total td {
    width: 90%;
    height: 40px;
}

.vælgRetterBtn {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    border: solid 1px #ff6c5c;
    border-radius: 15px;
    background-color: #27406b;
}
.vælgRetterBtn p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FAFAFA;
}

.rabat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 40px;

    /** background-color: #ff9d00; **/ 
}
.rabat a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    background-color: #45acA5;
    border-radius: 12px;
    width: 100px;
}

.opsumering {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.opsumering h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.opsumering td {
    width: 90%;
    height: 40px;
    text-align: start;
}

.opsumering p{
    line-height: 15pt;
}

.luksusbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    
    border: solid 1px #ff6c5c;
    border-radius: 15px;
    background-color: #27406b;
    color: #FAFAFA;
}



/***** BETALING ******/
.betalingMain {
    padding-top: 84px;
}

.bestiling table {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: #068FFF;
}

.bestiling th {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.prisbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    background-color: #8EACCD;
    max-width: 600px;
}

.prisimg {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
    height: auto;
    width: 80%;
}

.prisbox h2{
    display: flex;
    justify-content: center;
}

.betalingHR {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #068FFF;
    border: none;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.kortoplysninger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
 
.betalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Altbetalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}

/***** BESTILING *****/

.oversigtMain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 84px;
    font-family: 'Dosis-regular';
}

.oversigtMain h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 15pt;
    font-family: 'Dosis-bold';
}

.oversigtMain hr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 2px;
    width: 80%;
    background-color: #45acA5;
    border: none;
}

.oversigtbox {
    width: 40%;
    background-color: #f2dcba;
    padding-top: 10px;
}

.personInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20pt;
    padding-bottom: 40px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    /** border: #F7685D solid 3px; **/
}
.personInfo h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dosis-bold';
}

.infotittle {
    font-style: italic;
    font-weight: 500;
}

.antal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 20pt;
    /** border: rgb(125, 78, 149) solid 3px; **/
}

.antal td {
    width: 90%;
    height: 40px;
}

.antal img {
    width: 20px;
}

.madpakker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 20pt;
    padding-bottom: 20px;
    /** border: rgb(125, 78, 149) solid 3px; **/
}

.madpakker td {
    width: 90%;
    height: 40px;
}

.prisoversigt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;


    /** border: #ff9d00 solid 3px; **/
}
.prisoversigt td {
    width: 90%;
    height: 40px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    background-color: #45acA5;
}
.total td {
    width: 90%;
    height: 40px;
}

.vælgRetterBtn {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    border: solid 1px #ff6c5c;
    border-radius: 15px;
    background-color: #27406b;
}
.vælgRetterBtn p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FAFAFA;
}

.rabat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-top: 30px;
    padding-bottom: 40px;

    /** background-color: #ff9d00; **/ 
}
.rabat a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FAFAFA;
    background-color: #45acA5;
    border-radius: 12px;
    width: 100px;
}

.opsumering {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.opsumering h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.opsumering td {
    width: 90%;
    height: 40px;
    text-align: start;
}

.opsumering p{
    line-height: 15pt;
}

.luksusbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    
    border: solid 1px #ff6c5c;
    border-radius: 15px;
    background-color: #27406b;
    color: #FAFAFA;
}


/***** 404 ****/
.fejlSide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 100px;
}
  
  .fejlSide h1 {
    font-family:'bento';
    font-weight: 100;
    font-size: 96px;
  }
  
  .fejlSide img {
    width: 350px;
    margin-top: 50px;
  }
  
  .fejlSide h4 {
    font-family: 'titweb-regular';
    font-size: 24px;
    margin-top: 50px;
  }
  
  .fejlSide  a{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Dosis-semibold';

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    width: 260px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 10px;
    color: var(--Lys-beige, #FEFAEE);
    border: 2px solid var(--rd-orange, #ff6c5c);
    background: var(--mrkebl-dyb-kongebl, #27406b);
    text-decoration: none;

    margin-top: 50px;
  }
