/***** FONTS ******/

@font-face {
    font-family: 'Dosis-bold';
    src: url(fonts/Dosis-Bold.ttf);
}

@font-face {
    font-family: 'Dosis-regular';
    src: url(fonts/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'Dosis-light';
    src: url(fonts/Dosis-Light.ttf);
}



/****** NAV *******/

header {
    position: fixed;
    z-index: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27406B;
    opacity: 75%;
    padding: 2.5%;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #FEFAEE;
    opacity: 100%;
    font-family: 'Dosis-bold';
    font-size: 12pt;
}

.navTekst {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.navLink {
    position: absolute;
    z-index: 2;
}

.loginClass {
    margin-left: 10%;
}

#loginTekst {

}

#loginNav {
    position: absolute;
    z-index: 1;
}

#udvalgNav {
    margin-right: 10%;
    margin-left: 25%;
}

.logo{
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    margin-top: 1%;
}
/****** FOOTER *****/
footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: #19376D;
}
footer div {
    padding-top: 10px;
}
footer h5 {
    color: crimson;
}
footer p {
    color: #FAFAFA;
    line-height: 20pt;
}