/****** NAV *******/
nav {
    display: flex;
    justify-content: space-around;
    background-color: #7895CB;
    padding-top: 10px;
}
nav a {
    text-decoration: none;
    color: #FEFAEE;
}

/****** FOOTER *****/
footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: #19376D;
}
footer div {
    padding-top: 10px;
}
footer h5 {
    color: crimson;
}
footer p {
    color: #FAFAFA;
    line-height: 20pt;
}