/**************** GENERALT ****************/


body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

/**************** FONTS ****************/
@font-face {
    font-family: 'Dosis-bold';
    src: url(fonts/Dosis-bold.ttf);
}

@font-face {
    font-family: 'Dosis-regular';
    src: url(fonts/Dosis-regular.ttf);
}

@font-face {
    font-family: 'Dosis-light';
    src: url(fonts/Dosis-light.ttf);
}

@font-face {
    font-family: 'Dosis-semibold';
    src: url(fonts/Dosis-SemiBold.ttf);
}

@font-face {
    font-family: 'titweb-regular';
    src: url(fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'titweb-bolditalic';
    src: url(fonts/TitilliumWeb-BoldItalic.ttf);
}


/****** FORSIDE *****/
.velkomstimg{
    display: flex;
    justify-content: center;
    
    background-image: url(billeder/dumplingskålen-Redigeret-1919x503.jpg);
    height: 500px;
}

.bestilbtn {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    height: 50px;
    width: 100px;
    background-color: #27406b;
    border: solid #ff6c5c 2px;
    border-radius: 10px;
}

.bestilbtn a{
    text-decoration: none;
    color: #fefaee;
    font-family: 'Dosis-bold';
    font-size: 14pt;
    margin-top: 12%;
}

.bestilbtn:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}


/****** SECTION:oplevelser *****/

.oplevelser h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
}


.oplevelser{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding-bottom: 50px;
}

.imgKarusel{
    display: flex;
    margin-top: -20%;
    margin-left: -5%;
}


/****** PILE TIL BILLEDEKARUSELLEN *****/
#venstrepil{
    margin-left: -70%;
    margin-top: 400px;
    width: 70px;
}
#venstrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}

#højrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}
#højrepil{
    margin-right: -80%;
    margin-top: -150px;
    width: 70px;
}

/****** BILLEDER TIL FOTOKARUSELLEN *****/

#førstefoto{
margin-top: 10%;
margin-right: 10%;
opacity: 0.4;
border-radius: 10%;
}

#midterfoto{
    padding-right: 10%;
}


#sidstefoto{
    height: 150%;
    margin-top: 17%;
    opacity: 0.4;
    border-radius: 10%;
}

/****** PILE TIL BILLEDEKARUSELLEN *****/
.oplevelser p {
    max-width: 45%;
    text-align: justify;
    justify-content: center;
    line-height: 200%;

    font-family: 'Dosis-regular';
}

/****** LINJE EFTER BILLEDEKARUSELLEN *****/

.forsideHR{
    color: #ff6c5c;
    background-color: #ff6c5c;
    border:#ff6c5c;
    height: 1px;
    margin-bottom: 90px;
    width: 50%;
}

/****** Guide + Læs mere *****/
.guide {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.guide h2{
    font-family: 'Dosis-light';
    font-size: 25pt;
}

.læsMerebtn a{
    font-family: 'Dosis-bold';
    font-size: 14pt;
    text-decoration: none;
    color: #27406b;

    margin-top: 7%;
    margin-left: 2%;  
}

.læsMerebtn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin-top: 3%;

    margin-bottom: 20px;

    background-color: white;

    border-radius: 13px;
    border: solid 1px #F7685D;
}

.læsMerebtn:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}

/******* STEMNINGSBILLEDE + TEKST ********/
.omNippon {
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.centeredFORSIDE{
    margin-bottom: 20%;
}

.omNippon p { 
    max-width: 45%;
    line-height: 40pt;
    text-align: center; 
    margin-top: -15%;
    margin-left: 27%; 

    font-size: 13pt;
    font-family: 'titweb-bolditalic';
    color: rgb(255, 255, 255);
    
}


/******* HVORFOR NIPPON + FOTOKOLLAGE ********/

.hvorfor {
    background-color: #AFD3E2;
    text-align: center;
    margin-top: 90px;
}

#hjørnefoto1{
    width: 70%;
}





.hvorforIndhold {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

/***** Retter ****/
.retterBaggrund {
    background-color: #DAC0A3;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
    z-index: 1;
 }
 
 
 .småbtn {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 200px;
    z-index: 2;
 }
 
 
 .allergi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    width: 80px;
    height: 80px;
 }
 
 
 .allergi img {
    width: 80%;
 }
 
 
 .protein {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    width: 80px;
    height: 80px;
 }
 
 
 .protein img {
    width: 80%;
 }
 
 
 .udvalg {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    line-height: 30pt;
    padding-top: 50px;
 }
 
 
 .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    flex-wrap: wrap;
    top: 50px;
 
 
 }
 .card {
    background-color: #8EACCD;
    height: 300px;
    width: 200px;
 }
 
 
 .planlægbtn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: #19376D;
    color: #FEFAEE;
    margin-left: auto;
    margin-right: auto;
 }
 

/***** BETALING ******/
.bestiling table {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: #068FFF;
}

.bestiling th {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.prisbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8EACCD;
    max-width: 600px;
}

.prisimg {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ff6c5c;
    height: 50px;
    width: 90%;
}

.prisbox h2{
    display: flex;
    justify-content: center;
}

.betalingHR {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #068FFF;
    border: none;
    height: 2px;

}

.kortoplysninger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
 
.betalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Altbetalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}

/****** KVITTERING ******/


.kvitteringMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    align-items: center;
    border: solid black 3px;
    margin-top: 30px;
    margin-bottom: 30px;
 
 
 
 
    background-color: #7895CB;
 }
 
 
 .kvitteringMain p {
    text-align: center;
 }
 
 
 .kvitteringimg {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 70%;
    background-color: #ff6c5c;
 }

 
 .forsidebtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid red 2px;
    border-radius: 12px;
    width: 200px;
 }


/***** 404 ****/
.fejlSide {
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}