/**************** GENERALT ****************/
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}



/****** NAV *******/
nav {
    display: flex;
    justify-content: space-around;
    background-color: #7895CB;
    padding-top: 10px;
}
nav a {
    text-decoration: none;
    color: #FEFAEE;
}

/****** FOOTER *****/
footer{
    display: flex;
    justify-content: space-around;
    height: 200px;
    background-color: #19376D;
}
footer div {
    padding-top: 10px;
}
footer h5 {
    color: crimson;
}
footer p {
    color: #FAFAFA;
    line-height: 20pt;
}

/****** FORSIDE *****/
.velkomstimg{
    display: flex;
    justify-content: center;
    
    background-color: #AFD3E2;
    height: 500px;
}

.bestilbtn {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    height: 50px;
    width: 100px;

    background-color: #19376D;
    color: azure;
}

.oplevelser{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding-bottom: 50px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 95b681ae276cafb8ba3cd028632de8d8e82fbdb5

    background-color: #8EACCD;
>>>>>>> 2815132724dd04560ec870773fbb33c2acc9e5e1
}

.imgKarusel{
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 5%;
    margin-left: -5%;
}

#førstefoto{
margin-top: 10%;
margin-right: 10%;
opacity: 0.4;
border-radius: 10%;


}

#midterfoto{
    padding-right: 10%;
}


#sidstefoto{
    height: 150%;
    margin-top: 17%;
    opacity: 0.4;
    border-radius: 10%;


}



.oplevelser p {
    max-width: 45%;
    text-align: justify;
    line-height: 200%;
}




hr{
=======
    justify-content: center;
}

.oplevelser p {
    max-width: 50%;
}

.forsideHR{
>>>>>>> 2815132724dd04560ec870773fbb33c2acc9e5e1
=======
    justify-content: center;
}

.oplevelser p {
    max-width: 50%;
}

.forsideHR{
>>>>>>> 95b681ae276cafb8ba3cd028632de8d8e82fbdb5
    height: 2px;
    background-color: #068FFF;
    margin-bottom: 90px;
    width: 50%;
}

.guide {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    background-color: #AFD3E2;
}

.læsMerebtn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin-bottom: 20px;

    background-color: #19376D;
    color: azure;
}

.omNippon {
    display: flex;
    justify-content: center;
    max-height: fit-content;
    margin-top: 100px;

    background-color: #7895CB;
}

.omNippon p {
    max-width: 600px;
    line-height: 40pt;
    text-align: center;
}

.hvorfor {
    background-color: #AFD3E2;
    text-align: center;
    margin-top: 90px;
}

.hvorforIndhold {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

/***** Retter ****/
.retterBaggrund {
    background-color: #DAC0A3;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 50px;
}

.småbtn {
    background-color: #AFD3E2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.allergi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    width: 80px;
    height: 80px;
}

.allergi img {
    width: 80%;
}

.protein {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #068FFF;
    width: 80px;
    height: 80px;
}

.protein img {
    width: 80%;
}

.udvalg {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    line-height: 30pt;
    padding-top: 50px;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
.card {
    background-color: #8EACCD;
    height: 300px;
    width: 200px;
}

.planlægbtn {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: #19376D;
    color: #FEFAEE;
    margin-left: auto;
    margin-right: auto;
}


/***** BETALING ******/

.bestiling table {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: #068FFF;
}

.bestiling th {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.prisbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #8EACCD;
    max-width: 600px;
}

.prisimg {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.prisbox h2{
    display: flex;
    justify-content: center;
}

.betalingHR {
    display: flex;
    justify-content: center;
    width: 70%;
    background-color: #068FFF;
    border: none;
    height: 2px;

}

.kortoplysninger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
 
.betalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Altbetalbtn {
    display: flex;
    justify-content: center;
    background-color: #19376D;
    color: #FAFAFA;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}


/***** 404 ****/
.fejlSide {
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}